@{
    Layout = null;
    ViewBag.Title = "Credinka :: Banca por Internet";

}
<div class="modal-header css-modal-form-header">
    <div class="modal-title">
        <i class="fa fa-sign-out fa-3x pull-left" style="color:#F58B52;"></i>
        <span class="css-modal-title">Generar Clave de Internet (6 dígitos)</span>
        <br />
        <span class="css-modal-sub-title">Sigue los pasos</span>
    </div>
    <div class="css-modal-title-pasos pull-right">
        <ul class="css-modal-pasos-ul">
            <li class="complete"><a><i>1</i></a></li>
            <li class="complete"><a><i>2</i></a></li>
            <li class="active"><a><i>3</i></a></li>
        </ul>
    </div>
</div>
<div class="modal-body">
    <div class="col-lg-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <div class="css-text-title">
            Confirmación
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 css-text-sub-title">
                <p><h6>@ViewBag.textValor</h6></p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        
        <br>
        <br>
        <br>
        <div class="col-lg12">
            <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal" id="modal-close1">Continuar</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<div class="modal-footer css-modal-form-footer">
</div>