<?xml version="1.0"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="urlFile" value="http://10.10.199.138/Intranet.Images/"/>
    <add key="urlFilepdf" value="\\10.10.199.138\Intranet.Images\"/>
    <add key="TimerCerrar" value="90"/>
    <add key="TimerSistema" value="180"/>
    <add key="TimerCaduca" value="30"/>
    <add key="RutaLog" value="C:\BancaInternet\Log\Web\"/>
    <add key="KeyMaestra" value="S@3gur1d@d1nf@rm@c10n"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IwsCuenta" />
        <binding name="BasicHttpBinding_IwsDescripcion" />
        <binding name="BasicHttpBinding_IwsPrestamo" />
        <binding name="BasicHttpBinding_IwsTipoCambio" />
        <binding name="BasicHttpBinding_IwsUbigeo" />
        <binding name="BasicHttpBinding_IwsUsuario" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.199.138:8873/BancaInternet.WS.wsCuenta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsCuenta"
        contract="wsCuenta.IwsCuenta" name="BasicHttpBinding_IwsCuenta" />
      <endpoint address="http://10.10.199.138:8873/BancaInternet.WS.wsDescripcion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsDescripcion"
        contract="wsDescripcion.IwsDescripcion" name="BasicHttpBinding_IwsDescripcion" />
      <endpoint address="http://10.10.199.138:8873/BancaInternet.WS.wsPrestamo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsPrestamo"
        contract="wsPrestamo.IwsPrestamo" name="BasicHttpBinding_IwsPrestamo" />
      <endpoint address="http://10.10.199.138:8873/BancaInternet.WS.wsTipoCambio.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsTipoCambio"
        contract="wsTipoCambio.IwsTipoCambio" name="BasicHttpBinding_IwsTipoCambio" />
      <endpoint address="http://10.10.199.138:8873/BancaInternet.WS.wsUbigeo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsUbigeo"
        contract="wsUbigeo.IwsUbigeo" name="BasicHttpBinding_IwsUbigeo" />
      <endpoint address="http://10.10.199.138:8873/BancaInternet.WS.wsUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsUsuario"
        contract="wsUsuario.IwsUsuario" name="BasicHttpBinding_IwsUsuario" />
    </client>
  </system.serviceModel>
</configuration>